server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/auth_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: Root@123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

jwt:
    private-key: classpath:private.pem
    public-key: classpath:public.pem
    expiration: 86400000

#jwt:
#  secret: ${JWT_SECRET} # set via environment variable
#  expiration: ${JWT_EXPIRATION:86400000}
