server:
  port: 8086

spring:
  application:
    name: booking-service

  datasource:
    url: jdbc:mysql://localhost:3306/booking_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: Root@123

  kafka:
    bootstrap-servers: localhost:9094
    consumer:
      group-id: booking-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8081/.well-known/jwks.json

      client:
        registration:
          internal-client:
            provider: auth-provider
            client-id: auth-service
            client-secret: auth-secret
            authorization-grant-type: client_credentials
            scope: internal.write
        provider:
          auth-provider:
            token-uri: http://localhost:8081/oauth2/token


  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms

  cache:
    type: redis


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.cloud.gateway: TRACE
#      # Spring Kafka (listeners, container, deserialization)
#    org.springframework.kafka: DEBUG
#
#      # Apache Kafka client (poll, fetch, metadata)
#    org.apache.kafka: DEBUG
#
#      # Optional but VERY useful
#    org.springframework.kafka.listener: DEBUG
#    org.springframework.kafka.support.serializer: DEBUG

eureka:
  instance:
    instance-id: booking-service
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
